@import "tailwindcss";

@theme {
    --color-main: #043873;
    --color-secondary: #4F9CF9;
    --color-dark: #212529;
    --color-gold: #FFE492;
    --breakpoint-9xl: 1920px;
    --breakpoint-8xl: 1440px;
    --breakpoint-7xl: 1152px;
    --breakpoint-half7xl:1220px;
  }

